.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  border: 2px solid black;
}
.name-box {

}

.account-name {
  color: rgb(53, 185, 0);
}